requests
beautifulsoup4
pandas
Faker
apache-airflow
apache-airflow-providers-amazon
apache-airflow-providers-databricks
boto3
sqlalchemy
psycopg2
databricks-sql-connector
streamlit
python-dotenv
loguru
dbt-core
dbt-databricks
flake8
pre-commit
